<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background: linear-gradient(to left, blue, red);
            }
        </style>
    </head>
    <body>
        <h1>This is a home page</h1>
        <%= name %>
    </body>
</html>